<!DOCTYPE html>
<html>
<style>
  body {
    background-color: black;
color: white;  
  font-family: "Courier New";
font-weight: "bold";
  }
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00FF00;
  color: white;
  font-weight: "bold";
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #FF00FF;
}
.active {
    background-color: #00FFFF;
  }
.myDiv {
 text-align: center;
}
</style>
<head>
 <title>FaaS</title>
</head>
<body>
<ul>
  <li><a href="/pages/index.ejs">Home</a></li>
  <li><a href="https://github.com/FractalCoding/FaaS">Source</a></li>
  <li><a href="https://twitter.com/MathMathFractal">Contact</a></li>
  <li style="float:right"><a class="active" href="#about">About</a></li>
</ul>
<script src= "index.js"></script>
<div class = "myDiv">
<h1>Forklift-as-a-Service</h1>
  <p>v1.0.0 Early Development Alpha Build</p>
</div>
<div class = "myDiv">
<img src="https://imgur.com/TWG0kzY" alt="Forklift As A Service" />
</div>
<div class = "myDiv">
<h1>Enter a username:</h1>
<!--
 <form id="username" action="/" method=>
  <label for="user"></label><br>
  <input type="text" id="username" value="Temporal Parser"><br><br>
  <button type="submit" onclick="">Start Learning!</button>
 -->
 <h3>Username form goes here</h3>
</form>

</div>
<div id="bot">
    <img id= "bot" src="https://imgur.com/FePFftX" alt="bot" />
</div>
<div id="users">
<h3 id = "users">Users</h3>
</div>
</body>
</html>
https://portal.engagedigital.ai/shared/docs/REST_API/SO/index.html
